    <div class="content-wrapper">
      <div class="reg-main">
        <table class="tbl-2" width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th colspan="4">Personal Information</th>
          </tr>
          <tr>
            <td width="9%" align="right">Application Name</td>
            <td width="18%"><label>
                <input name="textfield" type="text" class="form-style1" id="textfield" placeholder="Enter Here" />
              </label></td>
            <td width="16%" align="right">Point of Contact</td>
            <td width="57%"><input name="textfield3" type="text" class="form-style1" id="textfield2" placeholder="Enter Here" /></td>
          </tr>
          <tr>
            <td align="right">URL</td>
            <td><input name="textfield5" type="text" class="form-style1" id="textfield3" placeholder="Enter Here" /></td>
            <td align="right">Email </td>
            <td><input name="textfield4" type="text" class="form-style1" id="textfield4" placeholder="Enter Here" /></td>
          </tr>
          <tr>
            <td align="right">Description </td>
            <td rowspan="2" valign="top"><textarea name="textarea" cols="45" rows="3" class="form-style2" id="textarea"></textarea></td>
            <td align="right">Phone</td>
            <td><input name="textfield4" type="text" class="form-style1" id="textfield4" placeholder="Enter Here" /></td>
          </tr>
          <tr>
            <td align="right">&nbsp;</td>
            <td align="right">Preferred Contact Time </td>
            <td><div class="select-style2">
                <label>
                  <select name="select2" id="select2">
                    <option selected="selected">HH</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </label>
            </div>
              <div class="select-style2">
                <label>
                  <select name="select" id="select">
                    <option selected="selected">MM</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                    <option>28</option>
                    <option>29</option>
                    <option>30</option>
                    <option>31</option>
                    <option>32</option>
                    <option>33</option>
                    <option>34</option>
                    <option>35</option>
                    <option>36</option>
                    <option>37</option>
                    <option>38</option>
                    <option>39</option>
                    <option>40</option>
                    <option>41</option>
                    <option>42</option>
                    <option>43</option>
                    <option>44</option>
                    <option>45</option>
                    <option>46</option>
                    <option>47</option>
                    <option>48</option>
                    <option>49</option>
                    <option>50</option>
                    <option>51</option>
                    <option>52</option>
                    <option>53</option>
                    <option>54</option>
                    <option>55</option>
                    <option>56</option>
                    <option>57</option>
                    <option>58</option>
                    <option>59</option>
                  </select>
                </label>
            </div>
              <div class="select-style2">
                <label>
                  <select name="select3" id="select3">
                    <option selected="selected">AM</option>
                    <option>PM</option>                     
                  </select>
                </label>
            </div></td>
          </tr>
          <tr>
            <th colspan="4">Admin Information</th>
          </tr>
          <tr>
            <td colspan="4" align="left" style="border:#dbdbdb solid 1px; border-top:0px; padding-left:0px; padding-right:0px;"><table width="80%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="14%" align="right">Role</td>
                  <td width="16%"><input name="textfield7" type="text" class="form-style1" id="textfield6" placeholder="Enter Here" /></td>
                  <td width="7%" align="right">Username</td>
                  <td width="19%"><input name="textfield7" type="text" class="form-style1" id="textfield6" placeholder="Enter Here" /></td>
                  <td width="6%" align="right">Password</td>
                  <td width="38%"><input name="textfield7" type="text" class="form-style1" id="textfield6" placeholder="Enter Here" /></td>
                </tr>
              </table>
              <div class="uplod-box">
                <table width="90%" border="0" align="left" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="34%" align="right" style="padding-top:0px;">Upload File</td>
                    <td width="66%" style="padding-top:0px;"><input name="textfield8" type="file" class="form-style3" id="textfield7" />
                      <input name="button" type="submit" class="btn-style-3" id="button" value="Upload" /></td>
                  </tr>
                </table>
                <div class="uplod-list-box">
                  <h1>Attachemnts</h1>
                  <label>Browsefile.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
                  <label>file.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
                  <label>Other file.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
                  <label>Browsefile Browsefile.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
                  <label>Browse.WEF<span><img src="/assets/close-icon.png" width="14" height="14" alt="delete" /></span></label>
                </div>
              </div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center" style="padding:10px;"><input name="" type="button" class="btn-style-4" value="Add Role &amp; Attechments" /></td>
                </tr>
              </table>
              <div class="uploded-box">
                <h1>Role : <span> Name Here </span></h1>
                <input name="" type="button" class="btn-style-5" value="" />
              </div>
              <div class="uploded-box">
                <h1>Role : <span> Name Here </span></h1>
                <input name="" type="button" class="btn-style-5" value="" />
              </div>
              </td>
          </tr>
           <tr>
    <td colspan="4"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="40%" align="right"><input name="" type="button" class="btn-style-2" value="Cancel" /></td>
        <td><input name="" type="button" class="btn-style" value="Save Application" /></td>
      </tr>
    </table></td>
    </tr>
        </table>
      </div>
    </div>