<%= binding.pry%>
<div class="ura-main">
  <div class="ura-left">
    <div class="ura-left-head">
      <div class="ura-left-head-box1"><input name="" type="checkbox" value="" /></div>
      <div class="ura-left-head-box2">Users</div>
      <div class="ura-left-head-box3">Roles</div>
    </div>
    <div class="ura-left-cnt">
      <table width="648" border="0" cellspacing="0" cellpadding="0" class="ura-left-cnt-tbl">
        <tr>
          <td align="center">
            <input name="input" type="checkbox" value="" />
          </td>
          <td>User Name Here</td>
          <td class="role"><label>Development<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>Testing<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>Other Role<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
          </td>
        </tr>
        <tr>
          <td align="center"><input name="input2" type="checkbox" value="" /></td>
          <td>User Name</td>
          <td class="role"><label>Development<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label></td>
        </tr>
        <tr>
          <td align="center"><input name="input3" type="checkbox" value="" /></td>
          <td>Name</td>
          <td class="role"><label>Testing<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>Other file.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
          </td>
        </tr>
        <tr>
          <td align="center"><input name="input4" type="checkbox" value="" /></td>
          <td>User</td>
          <td class="role"><label>Browsefile.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>file.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>Other file.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>Testing<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>Browse.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>Browse.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
          </td>
        </tr>
        <tr>
          <td align="center"><input name="input5" type="checkbox" value="" /></td>
          <td>User Name Here</td>
          <td class="role"><label>Testing<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>file.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>Other file.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
          </td>
        </tr>
        <tr>
          <td width="35" align="center"><input name="input6" type="checkbox" value="" /></td>
          <td width="170">User Name </td>
          <td class="role">
            <label>Browsefile.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>file.WEF<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
            <label>Testing<span><img src="images/close-icon.png" width="14" height="14" alt="delete" /></span></label>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="ura-right ura-right-disable">
    <div class="ura-right-head">
      Roles
    </div>
    <div class="ura-right-cnt">
      <label><span><input name="" type="checkbox" value="" /></span>Development</label>
      <label><span><input name="" type="checkbox" value="" /></span>Test</label>
      <label><span><input name="" type="checkbox" value="" /></span>UI Developer</label>
      <label><span><input name="" type="checkbox" value="" /></span>ASP.Net</label>
      <label><span><input name="" type="checkbox" value="" /></span>PHP</label>
      <label><span><input name="" type="checkbox" value="" /></span>Oracle</label>
      <label><span><input name="" type="checkbox" value="" /></span>JAVA Developer</label>
      <label><span><input name="" type="checkbox" value="" /></span>Testing</label>
      <label><span><input name="" type="checkbox" value="" /></span>Development</label>
      <label><span><input name="" type="checkbox" value="" /></span>Test</label>
      <label><span><input name="" type="checkbox" value="" /></span>UI Developer</label>
      <label><span><input name="" type="checkbox" value="" /></span>ASP.Net</label>
      <label><span><input name="" type="checkbox" value="" /></span>PHP</label>
      <label><span><input name="" type="checkbox" value="" /></span>Oracle</label>
      <label><span><input name="" type="checkbox" value="" /></span>JAVA Developer</label>
      <label><span><input name="" type="checkbox" value="" /></span>Testing</label>
    </div>
  </div>
</div>

