<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your tasspro account has been changed%></h1>
    <p>
      To login to the site, just follow this link: <%= new_user_session_url %>.
    </p>
  </body>
</html>