@charset "utf-8";
/* CSS Document */

html, body {
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	height:100%;
}
* {
	margin:0px;
	padding:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	outline:none;
	list-style:none;
	font-weight:normal;
	text-decoration:none;
}
img, a img {
	border:none;
}
/* ***************************  login page start  *************************** */

.login-main {
	width:710px;
	height:330px;
	position:absolute;
	left:50%;
	margin-left:-355px;
	top:50%;
	margin-top:-165px;
}
.login-logo {
	width:auto;
	height:auto;
	float:left;
	margin:0px 0px 30px 260px;
}
.login-box {
	width:710px;
	height:auto;
	float:left;
	background:#FFF;
	border-bottom:#005f95 4px solid;
}
.login-box-inr1 {
	width:510px;
	height:auto;
	float:left;
}
.login-box-inr1 h1 {
	width:80%;
	height:auto;
	float:left;
	background:url(/assets/login-line-style.png) no-repeat bottom left;
	font-size:20px;
	padding:10px 10px 8px 12px;
}
.login-box-inr1-cnt {
	width:auto;
	height:auto;
	float:left;
	padding-left:8px;
}
.login-box-inr1-cnt td {
	font-size:14px;
	color:#494949;
	padding:10px 4px;
}
.login-box-inr1-cnt td a {
	color:#717171;
	text-decoration:underline;
	font-size:11px;
}
.login-box-inr1-cnt td a:hover {
	color:#333;
}
.login-form-styl {
	width:155px;
	border:none;
	background:url(/assets/form-bg.png) repeat-x bottom;
	padding:4px;
	font-size:14px;
	color:#039;
	margin-right:8px;
	color:#0096ce;
}
.login-lbl {
	width:auto;
	height:auto;
	font-size:11px;
	color:#717171;
}
.login-lbl input {
	float:left;
	margin-right:5px;
}
.login-btn {
	background:url(/assets/login-btn.png) no-repeat;
	text-align:center;
	color:#FFF;
	width:70px;
	height:30px;
	border:none;
	cursor:pointer;
	font-weight:bold;
}
.login-btn:hover {
	background:url(/assets/login-btn-hover.png) no-repeat;
}
.login-box-inr2 {
	width:190px;
	height:128px;
	float:left;
	border-left:1px solid #bfbfbf;
	margin:10px 0px;
}
.login-box-inr2 h5 {
	color:#0083ce;
	font-size:15px;
}
.login-box-inr2 h6 {
	color:#717171;
	font-size:11px;
	line-height:22px;
}
.login-btn2 {
	background:url(/assets/register-btn.png) no-repeat;
	text-align:center;
	color:#FFF;
	width:110px;
	height:30px;
	border:none;
	cursor:pointer;
	font-weight:bold;
}
.login-btn2:hover {
	background:url(/assets/register-btn-hover.png) no-repeat;
}
/* ***************************  inner page start  *************************** */

.main-wapper {
	width:100%;
	min-height:100%;
}
.main-wapper2 {
	overflow:auto;
	padding-bottom:40px;
}
.header-wrapper {
	width:100%;
	height:81px;
	float:left;
	background:url(/assets/header-bg.png) repeat-x;
}
.header-top {
	width:100%;
	height:29px;
	float:left;
}
.header-top-nav {
	width:auto;
	height:auto;
	float:right;
}
.header-bottom {
	width:100%;
	height:auto;
	float:left;
}
.logo-main {
	width:auto;
	height:auto;
	float:left;
	margin-left:15px;
}
.header-bottom-nav {
	width:auto;
	height:auto;
	float:right;
}
.header-bottom-nav ul {
	list-style:none;
}
.header-bottom-nav ul li {
	float:left;
	display:block;
	background:url(/assets/main-nav-style.png) no-repeat right;
	padding-right:2px;
}
.header-bottom-nav ul li label {
	float:left;
	display:block;
}
.header-bottom-nav ul li label:hover, .header-bottom-nav ul li label.active {
	background:url(/assets/main-nav-hover.png) repeat-x;
}
.header-bottom-nav ul li label a {
	display:block;
	float:left;
	padding:18px 25px;
	color:#5b5b5b;
	text-transform:uppercase;
}
.header-bottom-nav ul li label a.active {
	background:url(/assets/main-nav-active.png) no-repeat center bottom;
	color:#000;
	font-weight:bold;
	font-size:13px;
}
.content-wrapper {
	width:98%;
	height:auto;
	float:left;
	margin:1%;
}
.cnt-head {
	width:100%;
	height:auto;
	float:left;
}
.cnt-head h1 {
	width:auto;
	height:auto;
	float:left;
	font-size:18px;
	line-height:38px;
}
.cnt-head label {
	width:auto;
	height:27px;
	float:right;
	display:block;
	color:#FFF;
	background:url(/assets/btn-bg.png) repeat-x;
	cursor:pointer;
	padding:0px 15px;
	line-height:27px;
	font-size:13px;
	margin-top:11px;
	margin-left: 7px;
}
.cnt-head label span {
	display:block;
	cursor:pointer;
	float:left;
	margin:4px 5px 0px 0px;
}
.cnt-head label:hover {
	background:url(/assets/btn-bg-hover.png);
}
.tbl-1 {
	width:100%;
	height:auto;
	border:#dbdbdb solid 1px;
}
.tbl-1 th {
	background:url(/assets/th-bg.png) repeat-x;
	height:32px;
	font-size:13px;
	font-weight: bold;
	color:#304f5f;
	padding:0px 7px;
}
.tbl-1 a {
	font-size:13px;
	color:#0083ce;
	text-decoration: underline;
}
.tbl-1 a:hover {
	color:#000;
}
.tbl-1 td {
	padding:7px;
	color:#333;
	font-size:12px;
}
.alternate-color  tr:nth-child(even) {background: #efefef}
.alternate-color  tr:nth-child(odd) {background: #FFF}

.reg-main {
	width:100%;
	height:auto;
	float:left;
}
.tbl-2 {
	width:100%;
	height:auto;
	border:none;
}
.tbl-2 th {
	border-bottom:#CCC 1px solid;
	font-size:14px;
	color:#161616;
	height:35px;
	text-transform:uppercase;
	text-align:left;
	padding-top:15px;
}
.tbl-2 td {
	padding:15px 6px 0px 6px;
	font-size:13px;
	color:#626262;
}


.tbl-4 {
	width:100%;
	height:auto;
	border:none;
}
.tbl-4 th {
	border-bottom:#CCC 1px solid;
	font-size:14px;
	color:#161616;
	height:25px;
	text-transform:uppercase;
	text-align:left;
	padding-top:10px;
}
.tbl-4 td {
	padding: 5px;
	font-size:13px;
	color:#626262;
}
.tbl-4 td b {
	padding: 5px;
	font-size:14px;
	color:#1670BD;
}
.tbl-5 {
	width:100%;
	height:auto;
	border:none;
}

.tbl-5 td {
	padding: 5px;
	font-size:13px;
	color:#626262;
}

.tbl-5 td label{
 display:block;
 float:left;
 text-align: right;
 padding: 0px 7px 0px 10px;
 color:#1670BD;
}
.tbl-5 td span{
 display:block;
 float:left;
 padding: 0px 30px 0px 0px;
}
.form-style1 {
	width:200px;
	height:30px;
	border:#bdbdbd 1px solid;
	color:#333;
	font-size:12px;
	padding:0px 7px;
}
.form-style2 {
	width:200px;
	border:#bdbdbd 1px solid;
	color:#333;
	font-size:12px;
	padding:0px 7px;
}
.form-style3 {
	background:url(/assets/upload-bg.png) repeat-x;
	width:300px;
	height:31px;
	border:#bbbbbb 1px solid;
	float:left;
}

.form-style4 {
	width:75px;
	height:25px;
	border:#bdbdbd 1px solid;
	color:#333;
	font-size:12px;
	padding:0px 7px;
}
.btn-style {
	width:auto;
	height:30px;
	padding:0px 15px;
	color:#FFF;
	font-size:13px;
	border:#00619f 1px solid;
	background:url(/assets/btn-bg-2.png) repeat-x;
	cursor:pointer;
}
.btn-style:hover {
	background:url(/assets/btn-bg-2-hover.png);
}
.btn-style-2 {
	width:auto;
	height:30px;
	padding:0px 15px;
	color:#FFF;
	font-size:13px;
	border:#000 1px solid;
	background:url(/assets/btn-bg-3.png) repeat-x;
	cursor:pointer;
}
.btn-style-2:hover {
	background:url(/assets/btn-bg-3-hover.png);
}
.btn-style-3 {
	width:auto;
	height:32px;
	padding:0px 15px;
	font-size:13px;
	border:#aab7c2 1px solid;
	background:url(/assets/upload-bg-2.png) repeat-x;
	cursor:pointer;
	color:#161616;
	float:left;
	margin-left:8px;
}
.btn-style-3:hover {
	background:url(/assets/upload-bg-2-hover.png);
}
.btn-style-4 {
	width:auto;
	height:24px;
	padding:0px 15px;
	font-size:13px;
	border:#bdbdbd 1px solid;
	background:url(/assets/upload-bg.png) repeat-x;
	cursor:pointer;
	color:#161616;
}
.btn-style-4:hover {
	background:url(/assets/upload-bg-hover.png) bottom;
}
.btn-style-5 {
	width:27px;
	height:24px;
	background:url(/assets/arow-icon.png);
	cursor:pointer;
	float:right;
	margin:7px 8px 0px 0px;
	border:0px;
	text-indent:9999;
}

.select-style {
	width:214px;
	height:30px;
	border:#bdbdbd 1px solid;
	background:url(/assets/dropdown-bg-2.png) no-repeat right #FFF;
	overflow:hidden;
}
.select-style select {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	border-radius: 0;
	padding: 5px;
	font-size:12px;
	height:30px;
	cursor:pointer;
	width: 120%;
}
.select-style select option {
	padding:4px;
}
.select-style2 {
	width:64px;
	height:30px;
	border:#bdbdbd 1px solid;
	background:url(/assets/dropdown-bg-2.png) no-repeat right #FFF;
	overflow:hidden;
	float:left;
	margin-right:8px;
}
.select-style2 select {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	border-radius: 0;
	padding: 5px;
	font-size:12px;
	height:30px;
	cursor:pointer;
	width: 83px;
}
.select-style2 select option {
	padding:4px;
}
.uplod-box {
	width:96%;
	height:auto;
	float:left;
	background:#ececec;
	padding:10px 0px;
	margin:10px 0% 0px 2%;
}
.uplod-list-box {
	width:100%;
	height:auto;
	float:left;
	border-top:1px solid #d4d4d4;
	margin-top:10px;
	padding-top:10px;
}
.uplod-list-box h1 {
	font-size:14px;
	font-weight:bold;
	color:#333;
	display:block;
	float:left;
	padding:0px 10px 0px 15px;
}
.uplod-list-box label {
	display:block;
	float:left;
	background:#FFF;
	border:#cbcbcb 1px solid;
	padding:5px 4px 5px 10px;
	margin:0px 4px 0px 4px;
	font-size:11px;
	color:#494949;
	width:auto;
	height:auto;
}
.uplod-list-box label span {
	display:block;
	float:right;
	cursor:pointer;
	margin-left:5px;
}
.uplod-list-box label span:hover {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.uploded-box {
	width:100%;
	height:auto;
	float:left;
	border-top:1px solid #cecece;
	background:#ececec;
}
.uploded-box h1 {
	font-size:14px;
	font-weight:bold;
	color:#333;
	padding:10px;
	width:auto;
	height:auto;
	float:left;
}
.uploded-box h1 span {
	color:#004da4;
}
.footer {
	margin-top:-31px;
	padding:0px;
	width:100%;
	height:30px;
	background:#e5e5e5;
	float:left;
	clear:both;
	position:relative;
	text-align:center;
	line-height:30px;
	border-top:1px solid #cdcdcd;
	font-size:11px;
	color:#666;
}

.inpt-1{width:200px;
    height: 28px;
    border: #cdcdcd 1px solid;
    padding: 0px 8px;
    background: #FFF;
}

span.required {
	color: #F00;
	font-weight: bold;
}


/* **********************  User role asign  ********************** */

.ura-main {
	width:980px;
	height:auto;
	float:left;
	padding:10px;
}

.ura-left {
	width:708px;
  height:auto;
  float:left;
  border:#d1d1d1 1px solid;
}

.ura-left-head {
	width:708px;
	height:27px;
	float:left;
	background:url(/assets/th-bg.png) repeat-x;
}

.ura-left-head-box1 {
  width:25px;
  height:auto;
  float:left;
  padding:7px 0px 0px 10px;
}

.ura-left-head-box2 {
	width:170px;
	height:auto;
	float:left;
	padding:5px 0px 0px 0px;
	font-size:13px;
	color:#3e3e3e;
}

.ura-left-head-box3 {
  width:493px;
  height:auto;
  float:left;
  padding:5px 0px 0px 10px;
  font-size:13px;
  color:#3e3e3e;
}

.ura-left-cnt {
  width:708px;
  /*height:400px;
  width:100%;*/
  height:auto;
  float:left;
  overflow:auto;
  overflow-x:hidden;
}

.ura-left-cnt-tbl {
  width:708px;
  height:auto;
}

.ura-left-cnt-tbl td {
  color:#2689d6;
  font-size:13px;
  border-bottom:1px solid #e4e4e4;
}

.ura-left-cnt-tbl td.role {
  border-left:1px solid #e4e4e4;
  padding-bottom:5px;
}

.ura-left-cnt-tbl td label {
	display:block;
	float:left;
	background:#FFF;
	border:#cbcbcb 1px solid;
	padding:5px 4px 5px 10px;
	margin:5px 0px 0px 5px;
	font-size:11px;
	color:#494949;
	width:auto;
	height:auto;
}

.ura-left-cnt-tbl td label span {
	display:block;
	float:right;
	cursor:pointer;
	margin-left:5px;
}

.ura-left-cnt-tbl td label span:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.ura-right {
	width:254px;
	height:auto;
	float:left;
	border:#2689d6 1px solid;
	margin-left:10px;
}

.ura-right-disable {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.ura-right-head {
  width:244px;
  height:27px;
  line-height:27px;
  color:#FFF;
  font-size:13px;
  float:left;
  background:#2689d6;
  padding-left:10px;
  font-weight:bold;
}

.ura-right-cnt {
/*	width:254px;
	height:400px;*/
	width:auto;
	height:auto;
	float:left;
	overflow:auto;
	overflow-x:hidden;
}

.ura-right-cnt label {
	width:254px;
	height:35px;
	background:url(/assets/ura-right-btn-bg.png) repeat-x;
	line-height:35px;
	color:#395266;
	display:block;
	font-size:14px;
	cursor:pointer;
	float: left;
}

.ura-right-cnt label span {
	display:block;
	float:left;
	margin:3px 5px 0px 10px;
}

.ura-right-cnt label:hover {
	background:url(/assets/ura-right-btn-bg-hover.png) repeat-x;
}

/* **********************  Role Creation  ********************** */

.rc-main {
	height:auto;
	float:left;
	padding:10px;
}

.rc-head {
	width:900px;
	height:60px;
	float:left;
	background:url(/assets/rc-head-main.png) repeat-x;
}
.rc-head table {
	height:auto;
	position:relative;
	left:50%;
	margin-left:-300px;
}
.rc-head td.head {
	background:#09F;
	color:#2a2a2a;
	font-size:14px;
}

.rc-head td{padding:5px;
}


.tbl-1 th input {
	width:10px;
	height:10px;
	margin:3px 5px 4px 0px;
}
.tbl-1 td {
	padding:7px;
	color:#333;
	font-size:12px;
}
.tbl-1 td.head {
	background:#d6e5ec;
}

.tbl-1-border {
	border:#CCC solid;
	border-width:1px 0px 0px 1px;
}
.tbl-1-border td {
	border:#CCC solid;
	border-width:0px 1px 1px 0px;
}
.tbl-1-border th {
	border:#CCC solid;
	border-width:0px 1px 0px 0px;
}

.forgot-password-box {
	width:710px;
	height:auto;
	float:left;
	background:#FFF;
	border-bottom:#005f95 4px solid;
}
.org-app-bar {
	width:100%;
	height:auto;
	float:left;
	border-top:1px solid #cecece;
	background:#ececec;
}
.org-user-bar {
	width:100%;
	height:auto;
	float:left;
	border-top:1px solid #cecece;
	background:#ececec;
}
.ui-widget-overlay.override {
    background: repeat-x scroll 50% 50% #2F4F4F;
    /*background-color: rgb(50, 50, 50) !important;*/
    opacity:0.3;
    filter:Alpha(Opacity=15);
}
.apl-main{width:100%;
	height:auto;
	float:left;
}

.apl-head{width:100%;
	height:26px;
	line-height:26px;
	float:left;
	background:url("/assets/apl-head-bg.png") repeat-x;
	font-size:13px;
	text-transform:uppercase;
	color:#1e1e1e;
	cursor:pointer;
	margin-bottom:1px;
}

.apl-head:hover{
	background:url("/assets/apl-head-bg-hover.png") repeat-x;
}

.apl-head label{width:auto;
	height:auto;
	float:left;
	margin:2px 6px 6px 6px;
}

