<div class='users'>
  <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New User</h4>
      </div>
      <div class="modal-body" id = "new_user_form">
         <%= render :partial => "new", :locals => {:user => User.new}%>
      </div>
      </div>
    </div>
  </div>
<div>
<div class="pull-right">
  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal1">
    New User
  </button>
</div>
<h3>Users</h3>
<table class="table table-striped" id='users_list'>
 <thead>
  <tr>
    <th>User Name</th>
        <th>
      <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
    </th>
        <th>Created at</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    <% @users.each do |user| -%>
      <%= render :partial => 'user', :locals => {:user => user} %>
    <% end -%>
  </tbody>
</table>
</div>

