<div id="user_form" title="Users" style="display:none;">
   <%= render :partial => "form" , :locals => {:user => @user}%>
</div>
<div class="content-wrapper">
  <div class="cnt-head">
     <h1>Users</h1>
     <label id="new_user"><span><img src="/assets/plus-icon.png" width="16" height="16" alt="plus" /></span>New User</label>
   </div>
  <table class="tbl-1" id="users_list" border="0" cellspacing="0" cellpadding="0">
   <thead>
    <tr>
      <th align="left">First Name</th>
      <th align="left">Last Name</th>
          <th align="left">
        <%= t("activerecord.attributes.user.email", :default => t("activerecord.labels.email", :default => "Email")) %>
      </th>
      <th align="left">Mobile Number</th>
      <th align="left">Actions</th>
    </tr>
    </thead>
    <tbody>
      <% @users.each do |user| -%>
        <%= render :partial => 'user', :locals => {:user => user} %>
      <% end -%>
    </tbody>
  </table>
</div>
<script type="text/javascript">
  altRows('users_list');
  var dialog,form;
  $(function() {
    function submitForm() {
      dialog.find("form").submit() 
    }

    function clearForm(){
      $("#user_form").html("<%= escape_javascript(render :partial => 'form', :locals => {:user => @user})%>");
    }

    dialog = $( "#user_form" ).dialog({
      autoOpen: false,
      height: 450,
      width: 450,
      modal: true,
       title: 'Create User',
      buttons: {
          "Create User": submitForm,
          Cancel: function() {
            dialog.dialog( "close" );
          }
      },
      close: clearForm
    });

    $(document).on( "click", '#new_user', function() {
      dialog.dialog( "open" );
    });
   })


    $(document).on("click", ".edit_user_link", function(e) {
     e.preventDefault();
     var tag = $("<div id='user_edit_form'></div>"),
     url = $(this).attr('href')
      $.ajax({
        url: url,
        success: function(data) {
          tag.html(data).dialog({
            modal: true,
            height: 450,
            width: 450,
             title: 'Edit User',
            buttons: {
              "Save User": function(){ $(this).find("form").submit();},
              Cancel: function() {
                $(this).dialog('close');
              }
            },              
          }).
          dialog('open');
        }
      });
    });

  </script>
